/* li{ */
    /* list-style-type: circle; */
    /* list-style-type: square; */
    /* list-style-type: none; */

/* } */
.Jovan{
    background-color: red;
}
.Jovan2{
    background-color: blue;
}
#Jovan{
    background-color: gold;
}